@model VisitRecordfForEditViewModel
<h2 class="text-center">Добавить посещение</h2>
    <form asp-action="AddVisitHistoryById" method="post">

        <div class="form-check">
            <label asp-for="@Model.VisitRecord.Date"></label>
            <input asp-for="@Model.VisitRecord.Date" type="datetime-local" class="form-control" />
            <span asp-validation-for="@Model.VisitRecord.Date" class="text-danger"></span>
        </div>

            <input hidden="hidden"  asp-for="@Model.VisitRecord.PatientId" value="@Model.VisitRecord.PatientId" class="form-control" />
            <input hidden="hidden"  asp-for="@Model.VisitRecord.Id" value="0" class="form-control" />@*иначе EF ругается на ID*@
            <input hidden="hidden"  asp-for="@Model.IdPatient" value="@Model.IdPatient" />
            <input hidden="hidden"  asp-for="@Model.Doctors" value="@Model.Doctors" />
            <input hidden="hidden"  asp-for="@Model.DiagnozLists" value="@Model.DiagnozLists" />
        <div class="form-check">
            <label asp-for="@Model.VisitRecord.DoctorId"></label>
            @*<input asp-for="@Model.VisitRecord.DoctorId" list="doctors" type="text" class="form-control" />
            <datalist id="doctors">
                @foreach (Doctor d in Model.Doctors)
                {
                    <option  value="@d.Id">@d.Name @d.Surname</option>
                }
            </datalist>*@
            <select asp-for="@Model.VisitRecord.DoctorId" class="js-chosen form-control form-select"> 
                <option selected disabled>Список врачей</option>
                @foreach (Doctor d in @ViewBag.Doctors)
                {
                    <option value="@d.Id">@d.Name @d.Surname</option>
                }
                </select>
            <span asp-validation-for="@Model.VisitRecord.DoctorId" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label asp-for="@Model.VisitRecord.DiagnozListId"></label>
            @*<input asp-for="@Model.VisitRecord.DiagnozListId" list="diagnoses" type="text" class="form-control" />
            <datalist id="diagnoses" class="" style="width:max-content">
                @foreach (DiagnozList d in @Model.DiagnozLists)
                {
                    <option style="width:max-content" value="@d.Id">@d.Name</option>
                }
            </datalist>*@

            <select asp-for="@Model.VisitRecord.DiagnozListId" class="form-control form-select">
                <option selected disabled>Диагнозы</option>
                @foreach (DiagnozList d in ViewBag.Diagnoses)
                {
                    <option value="@d.Id">@d.Name</option>
                }
            </select>
            <span asp-validation-for="@Model.VisitRecord.DiagnozListId" class="text-danger"></span>
        </div>
        <div class="form-check">
            <label asp-for="@Model.VisitRecord.Complaints"></label>
            <textarea asp-for="@Model.VisitRecord.Complaints" rows="10" cols="20" style="resize:none"  class="form-control" ></textarea>
            <span asp-validation-for="@Model.VisitRecord.Complaints" class="text-danger"></span>
        </div>
        <div class="form-check">
            <input class="btn btn-primary" type="submit" value="Добавить" />
            <a asp-action="MainPage" asp-controller="Home" class="btn btn-primary btn-warning">Отмена</a>
        </div>
    </form>
