@model IndexViewModel
@{
    ViewBag.Title = "Все пациенты";
    int iterNumber = 0;
}
<div class="row p-3">
    <div class="col-lg-3">
        <h3>Отфильтровать по: </h3>
        <form method="get">
            <div class="form-inline">
                <label>Фамилии: </label>
                <input name="surname" value="@Model.FilterViewModel.SelectedSurname" class="form-control" />
                <label>ИИН: </label>
                <input name="iin" value="@Model.FilterViewModel.SelectedIIN" class="form-control" />

                <input type="submit" value="Поиск" class="btn btn-outline-dark mt-2" />
                <input type="button" value="Очистить" class="btn btn-warning btn-clear mt-2">
            </div>
        </form>
    </div>
    <div class="col-lg-9">
        <h3 class="text-center">Список пациентов</h3>
        <table class="table table-bordered table-primary table-hover col-lg-9">
            <tr>
                <th>№</th>
                <th>
                    <a asp-action="ShowAllPatient" asp-route-sortState="@(Model.SortViewModel.FIOSort)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-iin="@(Model.FilterViewModel.SelectedIIN)">ФИО</a>
                </th>
                <th>
                    <a asp-action="ShowAllPatient" asp-route-sortState="@(Model.SortViewModel.IINSort)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-iin="@(Model.FilterViewModel.SelectedIIN)">ИИН</a>
                </th>
                <th>
                    Действия
                </th>
            </tr>
            @foreach (Patient p in Model.Patients)
            {
                <tr>
                    <td>@(++iterNumber)</td>
                    <td>@p.Surname @p.Name @p.Patronymic</td>
                    <td>@p.IIN</td>
                    <td>
                        <form asp-action="Delete" method="get">
                            <button type="button" class="btn btn-warning" data-toggle="ajax-modal" data-target="#modalEdit" data-id=@p.Id data-url="@Url.Action("EditPatient", "Hospital")">Редактировать</button>
                            <a asp-action="ShowAllVisitHistoryByIdPatient" asp-controller="VisitHistory" asp-route-idpatient="@p.Id" class="btn btn-info">История посещений</a>
                            <input type="hidden" name="id" value="@p.Id" />
                            <button type="submit" class="btn btn-danger">Удалить</button>

                        </form>
                    </td>
                </tr>
            }
        </table>
        <div class="align-self-center">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="ShowAllPatient" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   asp-route-fio="@(Model.FilterViewModel.SelectedSurname)"
                   asp-route-iin="@(Model.FilterViewModel.SelectedIIN)"
                   asp-route-sortState="@(Model.SortViewModel.Current)"
                   class="btn btn-outline-dark">Назад</a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="ShowAllPatient" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   asp-route-fio="@(Model.FilterViewModel.SelectedSurname)"
                   asp-route-iin="@(Model.FilterViewModel.SelectedIIN)"
                   asp-route-sortState="@(Model.SortViewModel.Current)"
                   class="btn btn-outline-dark">Вперед</a>
            }
        </div>
        <div id="PlaceHolderHere"></div>

        <div id="add_patient" class="text-center">
            <div class="myDiv">
                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#modalExample" data-url="@Url.Action("AddPatient", "Hospital")">Добавить пациента</button>
            </div>
        </div>
    </div>
</div>